.time{
    background: #D9F7E9;
    padding: 34px 0 39px;
    text-align: center;
}

.time__title{
    border-bottom: 4px solid #57C278;
    color: #212121;
    display: inline-block;
    font-size: 32px;
    padding-bottom: 8px;
}

.colaboradores{
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
}